# Ignore virtual environment
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/Editor files
.vscode/
.idea/
*.swp

# Ignore Logs
logs/
*.log

# Ignore Environment Variables
.env
